/*Estilos generales*/

*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    background-color:#f2f2f2;
}

/*Estilos cabecera*/
header{
    width:1212px;
    height: 140px;
    background-color:#23282b;
    margin:0 auto;
}

#logotipo{
    width:35%;
    height:130px;
    margin:0 auto;
    padding-top:10px;
}
#logotipo img{
    display:block;
    float:left;
    width:60px;
    margin-top: 20px;
}

#logotipo h1{
    display:block;
    float:left;
    letter-spacing: 2px;
    font-weight:lighter;
    color:#2ba977;
    margin-top:40px;
    margin-left: 20px;
}

/*estilos de navegacion */

nav{
    width:1250px;
    height:40px;
    background-color:#1B1E1F;
    border:1px solid #333333;
    margin:0 auto;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
}
nav >ul{
    list-style: none;
    text-decoration: none;
}
nav >ul >li{
    line-height: 40px;
    float: left;
}

nav >ul >li> a{
    display:block;
    padding-right: 15px;
    padding-left: 15px;
    color:#d1d4d6;
}
nav >ul> li> a:hover{
    background: #2ba977;
    box-shadow: 0px 0px 50px #444 inset;
    color:white;
    transition: all 300ms;
}
/*sub menu*/
nav>ul>li>ul{
    display: none;
    position: absolute;
    color: white;
    text-align: left;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
}
nav>ul>li:hover>ul{
    display: block;
    color: white;
    margin: 0px;
    list-style: none;
}
nav>ul>li:hover>ul>li{
    background:#f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    padding: 0px;
    padding-left: 10px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}
nav>ul>li:hover>ul>li a{
    color: #666;
    transition: all 300ms;
}
nav>ul>li:hover>ul>li:hover{
    background: #1f5e44;
}
nav>ul>li:hover>ul>li:hover a{
    display: block;
    color:white;
}
.barra{
    width: 1250px;
    margin:0 auto;
}
.esquina-izquierda{
    display:block;
    border-left: 20px solid transparent;
    border-top:10px solid #2B2F30;
    float:left;
}
.esquina-derecha{
    display:block;
    border-right: 20px solid transparent;
    border-top:10px solid #2B2F30;
    float:right;
}
.relleno-barra{
    width:1210px;
    display:block;
    background: #2B2F30;
    height:10px;
    float:left; 
}
/*Estilos contenidos central*/
#content{
    width:1212px;
    min-height: 930px;
    margin:0 auto;
    margin-bottom:30px;
    margin-top:40px;

}
.box{
    background:white;
    width:95%;
    min-height: 930px;
    padding:30px;
    border:1px solid #ddd;
    margin:0 auto;
    border-radius:5px;
}
.box a{
    color: #444;
    transition: all 300ms;
}
.box a:hover{
    color: #118d5c;

}
.box .image{
    float: left;
    margin-right: 40px;
    width: 40%;

}
.box .image img{
    width: 100%;

}

.title{
    color:#444;
    letter-spacing:1px;
    font-size:30px;
    margin-bottom: 7px;
    margin-top:5px;
}

footer{
    width:1250px;
    background-color:#1B1E1F;
    border:1px solid #333;
    color:#d1d4d6;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    box-shadow: 0px 0px 20px gray;
    margin:0 auto;
}

.box p,.box h2,.box h3,.box h4,.box h5{
    margin-top:5px;
    margin-bottom:5px;
}
.box ul, .box ol{
    margin-left: 20px;
    margin-bottom: 10px;
}
.box form{
    width:40%;
}
.box form input,
.box form label{
    display: block;
    padding:5px;
    padding-left: 0;

}
.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top:5px;
    background:#2ba977;
    color: #fff;
    border: 1px solid #444;
    transition: 300ms all;

}
.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
    cursor:pointer;
    background:#1f5e44;
    color: #d1d4d6;
    border: 1px solid #444;


}

.box form input[type="text"],
.box form input[type="email"],
.box form input[type="password"],
.box form textarea,
.box form select{
    width: 100%;
    margin-bottom: 10px;
}
.box form select{
    width:100px;
    padding: 5px;
}
.rojo{
    color:red;
    
}
.message,
.alert-success,
.alert{
    padding: 20px;
    background:#1f5e44;
    color: #d1d4d6;
    text-align: center;
    margin-bottom: 10px;
}
.alert-warning{
    background: #910523;
    color: wheat;
}
.article-item{
    margin-bottom: 20px;
    margin-top:20px;
    border-bottom: 1px solid #eee;
    padding: 15px;
    clear: both;
}

.article-item .image{
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    clear: both;
}
.article-item .image img{
    width: 200px;
    height: 200px;
}
.article-item .data{
    float: left;
    padding: 15px;
    padding-top: 0px;
}
.clearfix{
    clear: both;
    float: none;
}
.article-item h2{
    font-size: 25x;
    color: #333;
    margin-bottom: 10px;
    display: block;
}
.article-item span.date{
    display: block;
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}
.btn{
    width: 60px;
    padding:10px;
    background: rgb(184, 71, 71);
    color: white;
    border:1px solid black;
    display: block;
    margin-top: 15px;
    text-align: center;
}
/*estilos ultima pagina*/
.date{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    color: gray;
}
.content{
    line-height:25px;
}

